[*.cs]
resharper_for_can_be_converted_to_foreach_highlighting = none
resharper_loop_can_be_converted_to_query_highlighting = none
resharper_loop_can_be_partly_converted_to_query_highlighting = none
resharper_foreach_can_be_converted_to_query_using_another_get_enumerator_highlighting = none
resharper_foreach_can_be_partly_converted_to_query_using_another_get_enumerator_highlighting = none
